@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding:0;
  margin:0;
  min-width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #242424;
}

body {
  margin: 0;
  display: flex;

}

Nav{
  width:100vw;
  margin-left:0;
}

.header{
  background-color: #c95f96;
  height:80vh;
  position:relative;
}

.secondary-header{
  background-color: #c95f96;
  height:40vh;
  position:relative;
}

.heading{
  padding-top:15vh;
}

.header-svg{
  position: absolute;
  bottom:0;
  right:0;
}

.content{
  margin-top:50px;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-grey{
  background-color: #242424;
  color:#fff;
  border-color: transparent!important;
}

.btn-grey:hover{
  background-color: #fff!important;
  color: #242424!important;
  border-color: transparent!important;
}

.btn-purple{
  background-color: #646cff;
  color: #fff!important;
}

.btn-purple:hover{
  background-color: #242424!important;
  color:#fff!important;
}

.btn-pink{
  background-color: #fff;
  color:#242424;
}

.btn-pink:hover{
  background-color: #242424!important;
  color: #fff!important;
  border-color: transparent!important;
}

.sub-heading{
  font-size:5rem
}

.footer{
  bottom:0;
  right:0;
  width:100vw;
  background-color: #c95f96;
  height:120px;
}

.contents{
  height:100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.btn-green{
  @apply bg-green-500
}

.btn-green:hover{
  @apply bg-green-700
}

@media screen and(max-width:800px) {
  #header{
    height:auto;
    position:relative;
  }

  .header-svg{
    position:absolute;
    bottom:0;
    right:0;
  }
}